:host {
    .rounded-text {
        border: 1px;
        border-radius: 10px;
        //TODO global variables color palette
        background-color: lightgrey;
        padding: 0.5rem;
        margin: 0.5rem;
        text-align: center;
    }

    .number-container {
        display: flex;
        justify-content: center;
    }

    .pie-container {
        max-width: 800px;
    }
}